extends /layouts/application.pug
block content

  .row.justify-content-center
    .col-md-6
      h2= fungi.name
      h5= fungi.fullLatinName
      p= fungi.isProtected
      .icon(data-toggle="tooltip" data-placement="right" title=fungi.edibility.rating || 'NEPOZNATA')
        if fungi.edibility.rating === 'SMRTNA'
          include /icons/ic-skull.svg
        else if fungi.edibility.rating === 'OTROVNA'
          include /icons/ic-mushroom-poisonous.svg
        else if fungi.edibility.rating === 'NEJESTIVA'
          include /icons/ic-fork-crossed.svg
        else if fungi.edibility.rating === 'UVJETNO'
          include /icons/ic-cooking.svg
        else if fungi.edibility.rating === 'JESTIVA'
          include /icons/ic-utensils.svg
        else if fungi.edibility.rating === 'LJEKOVITA'
          include /icons/ic-mushroom-medical.svg
        else
          span ?


      if images && images.length
        #images-carousel.carousel.slide(data-ride="carousel" data-wrap="false")
          .carousel-inner
            each image, index in images
              .carousel-item(class=(index === 0 && 'active'))
                img.d-block.w-100(src=image alt=fungi.name)
          a.carousel-control-prev(href="#images-carousel" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Prethodna
          a.carousel-control-next(href="#images-carousel" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Sljedeća



      if locations && locations.length
        .map.js-fungi-map(data-locations=locations)
