extends /layouts/application.pug
block content
  form(action="/fungi" method="action")
        input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          input.form-control(name="query" type="search" placeholder="Upišite pojmove za pretragu" value=data.query)

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(scope="col") Rod
          th(scope="col") Vrsta
          th(scope="col") Varijanta
          th(scope="col") Naziv
          th(scope="col") Zaštićena
          th(scope="col") Jestivost
          th(scope="col")
      tbody
        each fungus in fungi
          tr
            td= fungus.species.genus
            td= fungus.species
            td= fungus.variant
            td= fungus.name
            if fungus.isProtected
              td.icon-cell(title="Zaštićena")
                .cell-icon
                  include /icons/ic-shield.svg
            else
              td

            td.icon-cell.text-center(data-toggle="tooltip" data-placement="bottom" title=fungus.edibility.rating)
              .cell-icon
                if fungus.edibility.rating === 'SMRTNA'
                  include /icons/ic-skull.svg
                else if fungus.edibility.rating === 'OTROVNA'
                  include /icons/ic-mushroom-poisonous.svg
                else if fungus.edibility.rating === 'NEJESTIVA'
                  include /icons/ic-fork-crossed.svg
                else if fungus.edibility.rating === 'UVJETNO'
                  include /icons/ic-cooking.svg
                else if fungus.edibility.rating === 'JESTIVA'
                  include /icons/ic-utensils.svg
                else if fungus.edibility.rating === 'LJEKOVITA'
                  include /icons/ic-mushroom-medical.svg

            td
              a(href=`/fungi/${fungus.id}`) Vidi
