extends /layouts/application.pug
block content
  form(action="/fungi/search" method="action")
        input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          input.form-control(name="query" type="search" placeholder="Upišite pojmove za pretragu" value=data.query)

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(scope="col") Rod
          th(scope="col") Vrsta
          th(scope="col") Varijanta
          th(scope="col") Naziv
          th(scope="col") Zaštićena
          th(scope="col") Jestivost
      tbody
        each fungus in fungi
          tr
            td= fungus.species.genus
            td= fungus.species
            td= fungus.variant
            td= fungus.name
            if fungus.isProtected
              td.icon-cell(title="Zaštićena")
                .protected-icon
                  include /icons/ic-shield.svg
            else
              td
            td= fungus.edibility
