extends /layouts/application.pug
block content
  form(action="/fungi/search" method="action")
        input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          input.form-control(name="query" type="search" placeholder="Upišite pojmove za pretragu" value=data.query)

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(scope="col") Rod
          th(scope="col") Vrsta
          th(scope="col") Varijanta
          th(scope="col") Naziv
          th(scope="col") Zaštićena
          th(scope="col") Jestivost
      tbody
        each fungus in fungi
          tr
            td= fungus.genus
            td= fungus.species
            td= fungus.variant
            td= fungus.name
            td
              input(type="checkbox" checked=fungus.isProtected disabled)
            td= fungus.edibility
